@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("eot"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg") format("svg");
}

@-webkit-keyframes leftRightIn {
  0% {
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
  }
}

@-moz-keyframes leftRightIn {
  0% {
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
  }
}

@-webkit-keyframes leftRightOut {
  0% {
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
    -webkit-transform: translateX(1500px);
    -moz-transform: translateX(1500px);
  }
}

@-moz-keyframes leftRightOut {
  0% {
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
    -webkit-transform: translateX(1500px);
    -moz-transform: translateX(1500px);
  }
}

@-webkit-keyframes foldUp {
  0% {
    transform: rotateX(360deg);
  }

  100% {
    transform: rotateX(270deg);
  }
}

@-webkit-keyframes unfoldUp {
  0% {
    transform: rotateX(270deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

@-webkit-keyframes foldDown {
  0% {
    transform: rotateX(-360deg);
  }

  100% {
    transform: rotateX(-270deg);
  }
}

@-webkit-keyframes unfoldDown {
  0% {
    transform: rotateX(-270deg);
  }

  100% {
    transform: rotateX(-360deg);
  }
}

body {
  background-color: #000066;
  font-family: "Helvetica Bold", Arial, sans-serif;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

#content {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  background-color: #000066;
}

#content > div {
  display: table-cell;
  vertical-align: middle;
}

#content-wrap {
  margin: 0 auto;
  width: 1580px;
}

#name {
  display: block;
  width: 1580px;
  min-height: 50px;
  color: #3DB7E4;
  text-transform: uppercase;
}

#name span {
  display: block;
  width: auto;
}

.show-name {
  animation: leftRightIn 500ms ease;
  display: block;
}

.hide-name {
  display: block;
  animation: leftRightOut 500ms ease;
}

#welcome-message {
  color: #FFFFFF;
  font-size: 80px;
  transform: rotateX(-270deg);
  transform-origin: bottom;
}

.show-welcome {
  animation: unfoldDown 200ms 500ms forwards, foldDown 100ms 4800ms forwards;
  display: block;
}

.hide-welcome {
  display: block;
}

#surname {
  text-transform: uppercase;
  text-align: right;
  color: #FFFFFF;
  font-size: 90px;
  transform: rotateX(270deg);
  transform-origin: top;
}

.show-surname {
  animation: unfoldUp 200ms 500ms forwards, foldUp 100ms 4800ms forwards;
  display: block;
}

.hide-surname {
  display: block;
}

.show {
  display: table;
}

.hide {
  display: none;
}